*{
	font-family: Typew, Calibri, Verdana, Arial;
}

body{
	background-color: #000;
}


.menu{
	width: 100%;
}

.menu ul{
	margin: 0 auto;
}


.menu a{
	padding-bottom: 2px;
	margin-right: 50px;
	text-align: center;
	font-size: 20px;

}
.menu a:hover{
	font-weight: bold;
}
.navega{
	background-color: #000;
}

.btn1{
	background-color: #fff;
}

.cartaz1{
	margin-top: 100px;
	height: 500px;
}

.espetaculo0{
	border-radius: 0;
	padding: 10px;
	
}

h1{
	text-align: center;
	font-size: 40px;
	color: #fff;
}

h2{
	font-size: 20px;
	color: #000;
	margin: 10px 0;

}

h4{
	font-size: 30px;	
	color: #000;
}

h5{
	position: absolute;
	background-color: #9e1a1a;
	color: #fff;
	font-family: Typew;
	font-size: 40px;
}

p{
	font-family: Roboto, Calibri, Verdana, Arial;
}

.logo{
	font-family: Typew;
	font-weight: bold;
	font-size: 25px;
}


.slogan{
	font-family: Typew;
	background-color: #9e1a1a;
}

.ator{
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.sobrenos{
	margin: 40px 0;
}

.sobrenos p::first-letter{
	font-size: 80px;
}

footer{
	height: auto;
	width: 100%;
	background-color: #9e1a1a;
	margin-top: 50px;
}

footer img{
	height: 50px;
	width: 50px;
	margin: 0 auto;
}

.contato a{
	display: block;
}
footer p, footer a, footer h2{
	color: #fff;
	text-decoration: none;
	margin: 10px;
}

footer p{
	font-family: Typew;
}

footer a:hover{
	color: #fff;
}

.banner2{
	background-image: url(../imagens/banner.jpg);
	background-position: center;
	background-size: cover;
	height: 200px;
}

.banner1{
	background-image: url(../imagens/banner1.jpg);
	background-position: center;
	background-size: cover;
	height: 200px;
}

.banner2 h1{
	color: #fff; 
	margin: 0 auto;
}

.banner1 h1{
	color: #fff; 
	margin: 0 auto;
}

.separador{
	background-image: url(../imagens/mask.svg);
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	width: 60px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.espetaculos{
	background-color: #fff;
	border: 20px solid #fff;
}

.carousel-control-next, .carousel-control-prev{
	width: 50px;
	height: 50px;
	top: 280px;
	margin: 0 25px;
}

button{
	background-color: transparent;
	border: none;
}

button:focus{
	outline: 0px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	height: 50px;
	width: 50px;
}

.espetaculo1, .espetaculo2, .espetaculo3, .espetaculo4, .espetaculo5, .espetaculo6{
	display: none;
}

.responsivo{
	display: block;
}

@media(max-width: 800px){
	
	.menu ul a{
		text-align: left;
	}
	.slogan h1{
		font-size: 20px;
		color: #fff;
	
	}
	
	.carousel-control-next, .carousel-control-prev{
	width: 50px;
	height: 50px;
	top: 100px;
	margin: 0 25px;
	}

	.continuacao{
	display: none;
	}

	h5{
		font-size: 25px;
	}

	.ator{
		height: 100px;
	}

	.atores h2{
		font-size: 18px;
		margin-bottom: 2px;
	}

	.atores p{
		font-size: 12px;
	}
	

}